@media only screen and (max-width: 2561px) {

    .MainCont5GridSection {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 2161px) {

    .MainCont5GridSection {
        grid-template-columns: repeat(2, 1fr);
    }
}










@media only screen and (max-width: 1156px) and (min-width: 769px) {
    .ListItems {
        font-size: 12px;
    }

    .S1Contend,
    .S2Contend,
    .S3Contend,
    .S4Contend,
    .S5Contend,
    .S6Contend,
    .S7Contend {
        width: 70%;
        height: 76%;
        border-radius: 20px;
        background-size: cover;
        position: absolute;
        inset: 12% 15%;
        overflow: hidden;
    }

    .MainCont1 h1 {
        font-size: 18px;
    }

    .MainCont1 h2 {
        font-size: 14px;
    }

    .MainCont1 p {
        font-size: 12px;
    }

    .ListItems img {
        width: 25px;
        height: 25px;
        margin-top: 11px;
    }

    .MainCont3 h1 {
        font-size: 18px;
        font-weight: 600;
    }

    .limited-words {
        height: 40px;
        line-height: 20px;
        font-size: 12px;
    }

    .expanded {
        height: 130px;
    }

    .seeMoreButton {
        width: 98px;
        height: 25px;
        font-size: 12px;
    }

    .MainCont3 h6 {
        font-size: 12px;
    }

    .mapImgCont {
        width: 100%;
        height: 160px;
    }

    .MainCont4Button1Cont button,
    .MainCont4Button2Cont button {

        font-size: 12px;
    }

    .pagination {
        bottom: 5%;
    }

    .heroCont {
        height: 92vh;
    }

    .MainCont5GridSection {
        grid-template-columns: repeat(1, 1fr);
    }


}


@media only screen and (max-width: 881px) {

    header {
        border: none;
    }

    .S1Contend,
    .S2Contend,
    .S3Contend,
    .S4Contend,
    .S5Contend,
    .S6Contend,
    .S7Contend {
        width: 80%;
        height: 76%;
        border-radius: 20px;
        background-size: cover;
        position: absolute;
        inset: 12% 10%;
        overflow: hidden;
    }

    .headerAlign {
        width: 90%;
    }

    .heroCont {
        flex-direction: column;
        height: max-content;
        margin-top: 24px;
    }

    .heroAside {
        width: 100%;
        height: 75vh;
    }

    .heroMain {
        width: 100%;
        height: 50%;
        overflow: hidden;
    }

    .heroMainAlign {
        width: 90%;
        height: max-content;
        position: relative;
        overflow: hidden;
    }

    .MainCont1 {
        width: 100%;
        height: 74px;
    }

    .MainCont1 h1 {
        font-size: 18px;
    }

    .MainCont1 h2 {
        font-size: 16px;
    }

    .MainCont1 p {
        font-size: 14px;
    }

    .ListItems img {
        width: 25px;
        height: 25px;
        margin-top: 12px;
    }

    .ListItems p {
        font-size: 14px;
    }

    .prev,
    .next {
        height: 40px;
        width: 40px;

    }

    .MainCont2 {
        margin-top: 154px;
    }

    .MainCont4 {
        position: absolute;
        top: 112px;
    }

    .MainCont5GridSection {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 310px);
    }

    .MainCont5 {
        width: 100%;
        height: max-content;
    }


    .LogoCont h1 {
        font-size: 18px;
    }

    .LogoContact a {
        font-size: 22px;
    }

    .prev i,
    .next i {
        font-size: 20px;
    }

    .MainCont2 h1 {
        font-size: 16px;
    }

    .ListItems {
        font-size: 15px;
    }

    .limited-words {
        font-size: 14px;
    }

    .MainCont3Heading {
        font-size: 16px;
    }

    .MainCont3 h2 {
        font-size: 16px;
    }

    .MainCont3 h6 {
        font-size: 14px;
    }

    .MainCont5Heading {
        font-size: 16px;
    }

    .MainCont4Button1Cont button {
        font-size: 14px;
    }

    .MainCont4Button2Cont button {
        font-size: 14px;
    }

    .GridCarts h1 {
        font-size: 16px;
    }

    .GridCarts h2 {
        font-size: 14px;
    }

    .GridCarts h3 {
        font-size: 12px;
    }

    .GridCarts h4 {
        font-size: 13px;
    }

    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    /*  */
    nav {
        display: block;
        border-bottom: 1px solid #DCDFE4;
    }

    .AsideCont1 {
        display: none;
    }

    .AsideCont2 {
        width: 100%;
        height: 46px;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .AsideCont2Heading {
        display: none;
    }

    .CartsNavList {
        width: 90%;
        height: 100%;
        display: flex;
        flex-shrink: 0;
        justify-content: start;
        gap: 14px;
        border-bottom: 1px solid #DCDFE4;
    }

    .CartsNavList li {
        font-size: 14px;
        height: 70%;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
    }

    .nav1 {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav2 {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav3 {
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav4 {
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav5 {
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav6 {
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CartsNavList li.blue {
        margin: 0;
        padding: 0;
    }

    .CartsNavList::-webkit-scrollbar {
        height: 0vh;
        width: 0;
    }

    .CartsNavList::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

}



@media only screen and (max-width: 426px) {

    .LogoCont {
        font-size: 28px;
    }

    .MainCont5GridSection {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 300px);
        grid-auto-rows: 300px;
        gap: 10px;
    }

    .carousel-slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .heroAside {
        width: 100%;
        height: 40vh;
    }

    .prev,
    .next {
        display: none;
    }

    .pagination {
        display: none;
    }

    .carousel-slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0;
    }

    .S1Contend,
    .S2Contend,
    .S3Contend,
    .S4Contend,
    .S5Contend,
    .S6Contend,
    .S7Contend {
        width: 100%;
        height: 100%;
        inset: 0 0 0 0;
        border-radius: 0;
    }

    .S1Blur,
    .S2Blur,
    .S3Blur,
    .S4Blur,
    .S5Blur,
    .S6Blur,
    .S7Blur {
        display: none;
    }
}

@media only screen and (max-width: 376px) {}

@media only screen and (max-width: 321px) {}